@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #4d08ee, #00ace0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;

}
a{
    color: #fff;
    text-decoration:none;
    transition: 0.3s;
}

a:hover {
    opacity: 07;
}

.logo {
    font-size: 24px;
    text-transform:uppercase;
    letter-spacing: 4px;
}